html{
  font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
  font-size: 20px;
}

.blue {
  color: skyblue;
}
.pink {
  color: pink;
}
.ROFILE {
  color:rgb(255, 192, 203);
}

h1
 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2.4rem;
  border-bottom: 3px solid rgb(115, 115, 114);
  text-shadow: black 0.1em 0.1em 0.2em;
}

body {
  text-align: center;
  }

#basic {
  font-weight: bold;
 }